:root {
  --primary: #222831;
  --secondary: #393e46;
  --tertiary1: #948979;
  --tertiary2: #dfd0b8;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./assets/fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./assets/fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./assets/fonts/AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--tertiary2);
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--secondary);
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.elem {
  background-color: var(--secondary);
  height: 400px;
  width: 330px;
  font-size: 24px;
  text-align: end;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.15s;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.elem h2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
}

.fullElem {
  height: 100%;
  width: 100%;
  padding: 40px;
  position: relative;
  z-index: 10;
  display: none;
  background-color: var(--primary);
}

.back {
  position: absolute;
  right: 2%;
  top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 20px;
  gap: 12px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all ease 0.15s;
}

.todo-list-page h2 {
  font-size: 50px;
  margin-top: 17.5px;
}

.todo-list-page .todo-container {
  height: 85%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  overflow: hidden;
}

.todo-list-page .todo-container .addTask {
  width: 30%;
  height: 100%;
  background-color: red;
  background-color: var(--secondary);
  border-radius: 20px;
  border: 1.5px solid var(--tertiary2);
}

.todo-list-page .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
}

.todo-list-page .todo-container .addTask form h3 {
  font-size: 32.5px;
  text-transform: uppercase;
}

.todo-list-page .todo-container .addTask form input {
  padding: 15px 15px;
  width: 100%;
  font-size: 17.5px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  color: var(--tertiary2);
  outline: none;
}

.todo-list-page .todo-container .addTask form textarea {
  padding: 15px 15px;
  width: 100%;
  font-size: 17.5px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  color: var(--tertiary2);
  outline: none;
  resize: none;
}

.todo-list-page .todo-container .addTask form .mark-imp {
  display: flex;
  align-items: center;
  gap: 4px;
}

.todo-list-page .todo-container .addTask form .mark-imp input {
  width: 10%;
  zoom: 1.5;
}

.todo-list-page .todo-container .addTask form .mark-imp label {
  width: 100%;
  font-size: 20px;
}

.todo-list-page .todo-container .addTask form button {
  padding: 15px 15px;
  width: 100%;
  font-size: 17.5px;
  background-color: var(--tertiary1);
  border: none;
  border-radius: 10px;
  color: #f2f2f2;
  transition: all ease 0.15s;
  text-transform: uppercase;
}

.todo-list-page .todo-container .addTask form button:active {
  scale: 0.9;
}

.todo-list-page .todo-container .allTasks {
  width: 70%;
  height: 100%;
  background-color: var(--secondary);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  border: 1.5px solid var(--tertiary2);
}

.todo-list-page .todo-container .allTasks .no-tasks {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
}

.todo-list-page .todo-container .allTasks .task {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 20px 30px;
  border-radius: 10px;
}

.todo-list-page .todo-container .allTasks .task .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 85%;
}

.todo-list-page .todo-container .allTasks .task .content h4 {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-list-page .todo-container .allTasks .task .content h4 span {
  display: none;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 200;
}

.todo-list-page .todo-container .allTasks .task .content h4 .true {
  display: inline;
}
.todo-list-page .todo-container .allTasks .task .content p {
  font-size: 17.5px;
  font-weight: 500;
  color: var(--tertiary1);
}

.todo-list-page .todo-container .allTasks .task .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.todo-list-page .todo-container .allTasks .task .actions button {
  padding: 10px 15px;
  width: 175px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

.todo-list-page .todo-container .allTasks .task .actions .delete {
  background-color: green;
  color: #f0f0f0;
}

.elem:active {
  scale: 0.95;
}

.back:active {
  scale: 0.9;
}
