@import "variables";

@mixin btn-style($horizontal-padding, $vertical-padding) {
  text-decoration: none;
  color: white;
  padding: $vertical-padding $horizontal-padding;
  border-radius: clamp(10px, 0.5vw, 1rem);
  border: clamp(1px, 0.5vw, 0.2rem) solid $nav-gradient-secondary;
}

@mixin btn-bg($bg-color) {
  background-color: $bg-color;
}
