@import "variables";

@mixin btn-style($horizontal-padding, $vertical-padding) {
  text-decoration: none;
  color: white;
  padding: $vertical-padding $horizontal-padding;
  border-radius: clamp(10px, 0.5vw, 1rem);
  border: clamp(1px, 0.5vw, 0.2rem) solid $nav-gradient-secondary;
}

@mixin btn-bg($bg-color) {
  background-color: $bg-color;
}

@mixin heading-style($color1, $color2) {
  font-size: clamp(2.5rem, 3.5vw, 10rem);
  color: transparent;
  background: linear-gradient(to right, $color1, $color2);
  background-clip: text;
}

@mixin paragraph-style {
  color: $paragraph-text;
  font-size: clamp(0.9rem, 1vw, 3rem);
}

@mixin text-gradient {
  background: linear-gradient(to right, $btn-purple, white);
}

@mixin text-left($color1, $color2) {
  content: "";
  position: absolute;
  width: clamp(1.5rem, 2vw, 5rem);
  height: clamp(1.5px, 0.4vh, 2.5px);
  top: 50%;
  left: -20%;
  transform: translate(0%, -50%);
  background: linear-gradient(to left, $color1, $color2);
}

@mixin text-right($color1, $color2) {
  content: "";
  position: absolute;
  width: clamp(1.5rem, 2vw, 5rem);
  height: clamp(1.5px, 0.4vh, 2.5px);
  top: 50%;
  right: -20%;
  transform: translate(0%, -50%);
  background: linear-gradient(to right, $color1, $color2);
}
