$bg-primary: oklch(0.13 0.028 261.692);
$nav-bg: oklch(0.21 0.034 264.665);
$nav-gradient-primary: oklch(0.278 0.033 256.848);
$nav-gradient-secondary: oklch(0.373 0.034 259.733);
$btn-purple: oklch(0.585 0.233 277.117);
$btn-gray: oklch(0.278 0.033 256.848);
$text-gradient-primary: oklch(0.585 0.233 277.117);
$text-gradient-secondary: oklch(0.87 0.065 274.039);
$paragraph-text: oklch(0.87 0.065 274.039);
