* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winning-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #d1d1d1;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  border: 5px solid white;
}

#winningTeam {
  font-size: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem 2rem;
  color: black;
  letter-spacing: 0.3rem;
}

#btn {
  background-color: bisque;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid aqua;
  transition: all 300 ease-in-out;
}

#btn:active {
  transform: scale(0.95);
}
